cachetools==3.0.0
certifi==2018.11.29
chardet==3.0.4
dialogflow==0.5.2
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-speech==0.36.1
google-cloud-texttospeech==0.3.0
googleapis-common-protos==1.5.5
grpcio==1.17.1
idna==2.5
newsapi-python==0.2.3
protobuf==3.6.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
PyAudio==0.2.11
pygame==1.9.4
pytz==2018.7
requests==2.21.0
rsa==4.7
six==1.12.0
urllib3==1.21.1
wincertstore==0.2
